.benefits_wrapper{
  background-color: #F4F4F4;
  padding-top: 98px;
  padding-bottom: 32px;
}
.benefits{
  justify-items: center;
background-color: #F4F4F4;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-areas:
'items title'
'items img'
'items img'
'items img';

&__items{
    grid-area: items;
    padding-left: 30px;
}
&__item{
    line-height: 21px;
    display: flex;
    align-items: flex-start;

  }
&__item-img{
    display: flex;
    justify-content: center;
    width: 112px;
    padding-right: 50px;
    margin-right: 23px;
}

&__info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}
&__info-title{
    @extend %montserrat-regular;
    color: #323232;
    text-align: left;
    padding-bottom: 17px;
  }
&__info-text{
    @extend %montserrat-regular;
    font-size: 14px;
    color: #848e97;
    padding-bottom: 35px;
  }
  &__title{
    grid-area: title;
    margin-bottom: 20px;
    color: $primary-color;
    font-size: 48px;
    line-height: 50px;
    font-weight: bold;
  }
  &__img{
    justify-self: right;
    grid-area: img;
  }
}
.img_right{
    position: relative;
    left: 12px;
}
