@font-face {
    font-family: 'Lato-Bold', sans-serif;
    src: url('../fonts/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;  
 }
 @font-face {
    font-family: 'Lato-BoldItalic', sans-serif;
    src: url('../fonts/Lato-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;  
 }
 @font-face {
    font-family: 'Lato-Regular', sans-serif;
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;  
 }
 @font-face {
    font-family: ' Montserrat-Bold', sans-serif;
    src: url('../fonts/ Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;  
 }
 @font-face {
    font-family: ' Montserrat-Regular', sans-serif;
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;  
 }
