html {
  box-sizing: border-box;
  scroll-behavior: smooth;
 
  
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;

}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.section__title {
  @extend %montserrat-bold;
  color: #fff;
  font-size: 48px;
  line-height: 50px;
}


