@media (min-width: 993px) and (max-width: 1200px){
.menu{
    margin-left: 0px;
}
.container{
    padding: 0 10px;
}
    .pricing__card-small:nth-child(2) > .pricing__card-title{
    padding:36px 20px;
    }
}
@media (min-width: 481px) and (max-width: 992px){
    .container{
        padding: 0 10px;
    }
    .header__wrapper{
        background-color: #27262A;
        z-index: 10000;
    }
    .header__content{
&-title{
    font-size: 72px;
    line-height: 72px;
}
&-text{
    font-size: 24px;
    line-height: 24px;
}
&-span{
    font-size: 14px;
    line-height: 14px;
}
    }
    .editor{
        &__title{
            font-size: 42px;
            line-height: 42px;
            margin-bottom: 33px;
        }
        &__text{
            font-size: 21px;
            line-height: 32px;
            margin-bottom: 24px;
        }
    }
    .benefits{
        grid-template-columns: 1fr;
        grid-template-areas:
        'title'
        'items'
        'img';
        &__title{
            font-size: 42px;
            line-height:44px;
            text-align: center;
            margin-bottom: 50px;
        }
    }
    .pricing__cards{
        grid-template-columns: minmax(247px, 300px) minmax(207px, 257px);
    }
    .pricing__card-small:nth-child(2) > .pricing__card-title{
        padding:36px 10px;
        }
        .pricing__card-small:nth-child(1){
        margin-left: 42px;
        margin-bottom: 30px;
        }
        .pricing__card-small:nth-child(2){
            margin-bottom: 30px; 
        }
    .menu{
        order: 1;
        margin-left: 0;
        margin-top: 23px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-left: 0px;
        &__list{
margin-bottom: 18px;
        &-link{
            margin-left: 20px;
        }
    }
    }

}

@media (min-width: 320px) and (max-width: 480px){
    .container{
        padding: 0 10px;
    }
    .menu{
        &__list-item{
          margin-right: 20px
  }
        &__list-link {
            font-size: 16px
        }
  }
    .header__content{
        &-title{
            font-size: 48px;
            line-height: 48px;
        }
        &-text{
            font-size: 18px;
            line-height: 24px;
        }
        &-span{
            font-size: 14px;
            line-height: 14px;
        }
            }
    .header{
    &__logo-title{
        display: none;
    }
    &__navbar{
        padding-top: 0;
    }
    &__wrapper{
        background-color: #27262A;
        z-index: 10000;
    }
}
    .humburger{
        &-menu{
          display: block;
          position:relative;
          right: 7px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
    }

    .menu{
        width: 94%;
        position: absolute;
        justify-content: flex-start;
        top: -315px;
        background-color: #333333;
        z-index: 666;
        padding-top: 4px;
        transition: top 0.5s;
        &__list{
            width: 100%;
            align-items: start;
          flex-direction: column;
          &-btn{
              margin-left: 0;
          }
          &-link{
            padding-left: 39px;
            padding-bottom: 21px;
            padding-top: 29px;
              display: block;
              width: 100%;
            position: relative;  
            margin-left: 0;
            font-size: 26px;
            line-height: 26px;
            font-weight: normal;
            color: #fff;
            &:hover{
                color: #8d81ac;
                &::before{
                    position: absolute;
                    content: "";
                    top: 12px;
                    left: 0px;
                    width: 8px;
                    height: 53px;
                    background-color: #8D81AC;
                    border: orangered;
                }
            }
          }
          &-item{
            display: block;
            width: 100%;
            
          }
        }
        &-active{
          top: 90px;
        }}
    .editor{
    &__title{
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 27px;
    }
    &__text{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 36px;
    }
}
    .benefits{
        grid-template-columns: 1fr;
        grid-template-areas:
        'title'
        'items'
        'img';
        &__title{
            font-size: 32px;
            line-height:38px;
            margin-bottom: 36px;
            text-align: center;
        }
        &__items{
            padding-left: 0;
        }
        &__item{
            flex-direction: column;
            align-items: center;
            &-img{
                margin-right: 0;
                padding-right: 0;
                padding-bottom: 23px;
            }
        }
        &__info{
            text-align: center;
            &-title{
                text-align: center;
                width: 100%;
                
            }
        }
    }
    .about__items{
        row-gap: 55px;
    }
    .pricing_wrapper{
        padding-bottom: 15px;
    }
    .pricing__cards{
        grid-template-columns: minmax(247px, 300px);
    }
    .pricing__card-small:nth-child(2) > .pricing__card-title{
        padding:36px 10px;
        }
        .pricing__card-small{
        margin-left: 21px;
        margin-right: 21px;
        margin-bottom: 0px;
        margin-top: 0px;
        }

}


@media (min-width:760px) and (max-width:1129px) {
    .container{
        padding: 0 10px;
    }
    .about__item:nth-child(4){
        padding-top: 36px;
    }
    .benefits{
        grid-template-columns: 1fr;
        grid-template-areas:
        'title'
        'items'
        'img';

    }

}