.pricing_wrapper{
    // background-color: rgb(65, 56, 56);
    background-color: rgb(74, 59, 78);
    padding-bottom: 97px;
    padding-top: 83px;
    margin-top: -15.5px;
}
.pricing__cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(217px, 257px)) minmax(267px, 300px) minmax(217px, 257px);
    gap: 15px;
}
.pricing__title{
    text-transform: capitalize ;
    text-align: center;
    padding-bottom: 26px;
}
.pricing__card-small{
    margin-top: 52px;
    margin-bottom: 52px;
}
.pricing__card{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba($color: #fff, $alpha: .11);
    position: relative;
    &:nth-child(3){
        background-color: rgba($color: #463048, $alpha: .84);
    }
    &-title{
        font-size: 24px;
        line-height: 24px;
        padding: 36px;
        background-color: rgba($color: #fff, $alpha: .06);
    }

    &:nth-child(3) > &-title{
        background-color: rgba($color: #000000, $alpha: .11);
        padding: 43px;
    }
    &-summ{
        padding-top: 10px;
        font-size: 60px;
        line-height: 90px;
    }
    &:nth-child(3) > &-summ{
        font-size: 82px;
        line-height: 90px;
    }
    &-text{
        // text-align: center;
        position: relative;
        font-size: 14px;
    line-height: 16px;
    padding-bottom: 79px;
    }
    &-text::after{
        content: "";
        position: absolute;
        width: 60px;
        display: block;
        border-top: 5px solid #8D81AC;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    &-name{
        font-size: 16px;
        line-height: 18px;
        text-transform: capitalize;
        padding-bottom: 40px;
    }
    &:nth-child(1) > &-name{
        padding-bottom: 143px;
    }
    &:nth-child(2) > &-name{
        padding-bottom: 118px;
    }
    &:nth-child(3) > &-name{
        padding-bottom: 182px;
    }
    &:nth-child(4) > &-name{
        padding-bottom: 120px;
    }
    &-btn{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);

        width: 163px;
        height: 45px;
        background-color: rgba($color: #fff, $alpha: .06);
        padding: 15px 37px;
        border-radius: 22px;
        

        &:hover{
            transition: all .3s linear;
            background-color: #fff;
            color: $primary-color;
        }
    }
    &-bold{
        font-weight: 700;
    }

    
}