.about{
    background-image:  url(../img/about-bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
    width: 100%;
    &__title{
        padding-top: 108px;
        padding-bottom: 81px;
        text-align: center;
    }
    &__items{
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit, minmax(306px, 370px));
        // column-gap: 59px;
        row-gap: 115px;
    }
    &__item{
        display: flex;
        align-items: center;
         justify-content: center;
         flex-direction: column;
         vertical-align: middle;
    }
    &__item:nth-child(4){
        padding-top: 10px;
    }

    
&__text{
    @extend %lato-italic;
    line-height: 24px;
    font-size: 16px;
    color: #fff;
    max-width: 354px;
    height: 61px;
    text-align: center;
    margin-top: 30px;
  }
&__description-text{
    color: #A291A5;
    @extend %lato-regular;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 15px;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 90%;
        height: 2px;
        background-color: #645766;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }

}
  }
  