//  fonts
%lato-regular{
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
 }
 
 %lato-bold{
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
 }
 %lato-italic{
    font-family: 'Lato-BoldItalic', sans-serif;
    font-weight: 700;
    font-style: italic;
 }
 
 %montserrat-regular{
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 400;
 }
 %montserrat-bold{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
 }


//  color
$primary-color: #8D81AC;
$grey-text-color: #848E97;
