@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'benefits';
@import 'pricing';
@import 'global';
@import 'section-about';



body {
	min-width: 320px;
	@extend %montserrat-regular;
}

.header {
	background-image:  url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	width: 100%;
	height: 1000px;
	&__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 42px;
}
&__logo{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&:hover &-svg {
		color: #fff;
		transition: all .5s linear;
		background-image: url(../img/logo-hover.png);
	width: 43px;
	height: 41px;
	}
	&:hover &-title{
		color: #fff;
		transition: all .5s linear;
	}
}
&__logo-svg{
	background-image: url(../img/logo.png);
	width: 43px;
	height: 41px;
	display: block;
}
&__logo-title{
	text-transform: uppercase;
	color: $primary-color;
	@extend %lato-bold;
	margin-left: 17px;
	font-size: 24px;
	line-height: 16px;
}

}


.menu{
	// width: 700px;
	// margin-left: 250px;
	display: flex;
    width: 62%;
    justify-content: flex-end;
	&__list{
		display: flex;
		align-items: center;	
		justify-content: space-between;
	}
	&__list-link{
		margin-left: 48px;
		color: $primary-color;
		text-transform: capitalize;
		line-height: 15px;
		@extend %montserrat-bold;
		&:hover{
			color: #fff;
			transition: all .3s linear;
		}
	}
	&__list-btn {
		color: #fff;
		background-color: $primary-color;
		padding: 11px 40px;
		margin-left: 68px;
		line-height: 17px;
		text-transform: capitalize;
		border-radius: 40px;
		@extend %montserrat-bold;
		border: 1px solid $primary-color;
		&:hover{
			background-color: #fff;
			color: $primary-color;
			transition: all .3s linear;
			border: 1px solid $primary-color;
		}
	}
}



.header__content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 110px;

	&-title{
		text-align: center;
	text-transform: capitalize;
	color: #fff;
	font-size: 82px;
	@extend %montserrat-bold;
	margin-bottom: 19px;
	}
	&-text{
		color: $primary-color;
		text-align: center;
		font-size: 30px;
		margin-bottom: 19px;
		@extend %lato-regular;
	}
	&-span{
		color: $grey-text-color;
		text-transform: uppercase;
		@extend %montserrat-regular;
	}
}

// EDITOR SECTION
	.editor{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__btn{
			background-color: $primary-color;
			text-align: center;
			padding: 20px 68px;
			border-radius: 40px;
			font-size: 22px;
			line-height: 22px;
			border: 1px solid $primary-color;;
			@extend %montserrat-bold;
			color: #fff;
			transform: translateY(-50%);
			&:hover{
				background-color: #fff;
				color: $primary-color;
				border: 1px solid $primary-color;;
				overflow: hidden;
				transition: all .4s linear;
			}
		}
			&__span{
				font-size: 15px;
				line-height: 14px;
				color: $grey-text-color;
				@extend %montserrat-regular;
				margin-bottom: 66px;
		}
		&__title{
			color: #635C73;
			font-size: 54px;
			@extend %montserrat-bold;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 35px;
		}
		&__text{
			@extend %lato-regular;
			max-width: 865px;
			color: #323232;
			font-size: 21px;
			line-height: 32px;
			text-align: center;
			margin-bottom: 13px;
		}
		&__links{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-bottom: 70px;
		}
		&__links-item{
			margin-right: 4px;
    		margin-left: 5px;
			padding-bottom: 20px;
		}
		&__links-action{
			text-decoration: none;
			@extend %lato-bold;
			color: #24292e;
			font-size: 14px;
			padding: 3px 10px;
			border: 1px solid #24292e;
			border-radius: 3px;
			border-color: rgba(27,31,35,.13);
			background-color: #eff3f6;
			background-image: linear-gradient(
		-180deg,#fafbfc,#eff3f6 90%);
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		&:hover{
			border: 1px solid rgb(177, 171, 171);
			background-color: #dde8f1;
			background-image: linear-gradient(
		-180deg,#fafbfc,#dde8f1 90%);
		transition: all .2s linear;
		}
		}
		&__links-count{
			text-decoration: none;
			@extend %lato-bold;
			color: #24292e;
			font-size: 14px;
			padding: 3px 10px;
			border: 1px solid #24292e;
			border-radius: 3px;
			border-color: rgba(27,31,35,.13);
			border-bottom-left-radius: 0;
    		border-top-left-radius: 0;
		&:hover{
			color: rgb(32, 84, 228);
			transition: all .2s linear;

		}
		}
	}

	.octicon{
		margin-right: 5px;
		position: relative;
		top: 3px;
	}

	.humburger{
		&-menu{
		  display: none;
		  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' fill='%23ffffff' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z'/%3E%3Cpath d='m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z'/%3E%3Cpath d='m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z'/%3E%3C/svg%3E");
		  background-color: transparent;
		  background-size: contain;
		  width: 30px;
		  height: 30px;
		  border: none;
		  transition: background-image 0.5s;
		  &-active{
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In .SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' fill='%23ffffff' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='348.333px' height='348.334px' viewBox='0 0 348.333 348.334' style='enable-background:new 0 0 348.333 348.334;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85 c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563 c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85 l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554 L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
	  }
	  }
	  }

	  @import 'media';